package ${package}.${moduleName}.domain.dto;

import lombok.Data;
import lombok.experimental.Accessors;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * 
 * @author ${author}
 */
@Data
@Accessors(chain = true)
public class ${englishName}Dto {
#foreach ($column in $columns)

	/**
	 * $column.comments
	 */
    private $column.attrType $column.englishName;
#end
}
