package ${package}.${moduleName}.service.service.impl;

import org.springframework.stereotype.Service;

import ${package}.${moduleName}.server.domain.mapper.${englishName}Mapper;
import ${package}.${moduleName}.server.domain.po.${englishName}Po;
import ${package}.${moduleName}.server.service.I${englishName}Service;
import com.yanhua.orm.service.impl.YhServiceImpl;

/**
 * ${comments}
 *
 * @author ${author}
 */
@Service
public class ${englishName}ServiceImpl extends YhServiceImpl<${englishName}Mapper, ${englishName}Po> implements I${englishName}Service {

}