package ${package}.${moduleName}.service;

import com.yanhua.orm.service.YhService;
import ${package}.${moduleName}.server.domain.po.${className}Po;

/**
 * ${comments}
 *
 * @author ${author}
 */
public interface I${englishName}Service extends YhService<${englishName}Po> {
}

