<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.generate.domain.mapper.ColumnInfoMapper">
    <update id="updateToTemp">
        UPDATE TB_DB_ZDXX SET ISJZT = 1 WHERE CSJYID = #{id}
    </update>

    <delete id="deleteTemp">
        DELETE FROM TB_DB_ZDXX WHERE CSJYID = #{id} AND ISJZT = 1
    </delete>
</mapper>