<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.generation.domain.mapper.TableInfoMapper">
    <resultMap id="map" type="com.cy.generation.core.model.TableInfo">
        <result column="CKBMC" property="tableName"/>
        <result column="CSTMC" property="className"/>
        <result column="CYWMC" property="englishName"/>
        <result column="CKBMS" property="comments"/>
        <collection  property="columns" select="queryColumn"
                     column="id" ofType="com.cy.generation.core.model.ColumnInfo"/>
    </resultMap>

    <select id="queryTableInfo" resultMap="map">
        SELECT
            CID id,
            CKBMC,
            CSTMC,
            CYWMC,
            CKBMS
        FROM
            TB_DB_KBXX
        WHERE
            CID = #{id}
    </select>

    <select id="queryColumn" resultType="com.cy.generation.core.model.ColumnInfo">
        SELECT
            CZWHY chineseName,
            CZDMC columnName,
            CZDLX dataType,
            CSXMC attrName,
            CSJLX attrType,
            CYWMC englishName,
            CSJCD length,
            ISFBC required,
            CZWHY comments
        FROM
            TB_DB_ZDXX
        WHERE
            CKBID = #{id}
        AND IZJ = 1
        ORDER BY ISORT ASC
    </select>

    <update id="updateToTemp">
        UPDATE TB_DB_KBXX SET ISJZT = 1 WHERE CSJYID = #{id}
    </update>

    <delete id="deleteTemp">
        DELETE FROM TB_DB_KBXX WHERE CSJYID = #{id} AND ISJZT = 1
    </delete>
</mapper>